.notification__success {
  padding: 0.5rem;
  position: fixed;
  width: 16rem;
  background-color: #3b9c74;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 0.2rem;
  animation: fadeIn 2s;
  display: flex;
  align-items: center;
}

.notification__error {
  padding: 0.5rem;
  position: fixed;
  width: 16rem;
  background-color: #b44040;
  top: 0.5rem;
  right: 0.5rem;
  border-radius: 0.2rem;
  animation: fadeIn 2s;
  display: flex;
  align-items: center;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
